[tool.poetry]
name = "codal-tsetmc"
version = "1.4.4"
description = "Data Downloader for Codal and Tehran stock market"
authors = ["Mohsen Ebrahimi <mohsenebrahimy.ir@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://mohsenebrahimyir.github.io/codal-tsetmc/"
repository = "https://github.com/mohsenebrahimyir/codal-tsetmc.git"
packages = [
    { include = "codal_tsetmc", from = 'src' }
]


[tool.poetry.dependencies]
python = "^3.7.1"
requests = "^2.32.2"
SQLAlchemy = "^2.0.30"
jalali-pandas = "^0.2.2"
pandas = "^2.2.2"
lxml = "^5.2.2"
nest-asyncio="^1.6.0"
aiohttp = "^3.9.5"
aiosignal = "^1.3.1"
PyYAML = "^6.0.1"
beautifulsoup4 = "^4.12.3"
html5lib = "^1.1"

[tool.poetry.dev-dependencies]
pre-commit = "^2.16.0"
pylint = "^2.12.2"
pytest = "^6.2.5"
ipython = "^7.31.0"
ipdb = "^0.13.9"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
